@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);
#popupmenu {
  position: relative;
  margin: 0;
  font-family: 'Open Sans';
  line-height: 1;
  width: 100%;
}
.align-right {
  float: right;
}
#popupmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#popupmenu ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
#popupmenu ul li a {
  text-decoration: none;
  cursor: pointer;
}
#popupmenu > ul > li > a {
  color: #dddddd;
  display: block;
  padding: 20px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  background: #567e35;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
#popupmenu > ul > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#popupmenu > ul > li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #000000;
}
#popupmenu > ul > li:hover > a,
#popupmenu > ul > li.open > a,
#popupmenu > ul > li.active > a {
  background: #62903c;
  color: #ffffff;
}
#popupmenu ul > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  display: block;
}
#popupmenu ul > li.has-sub > a::before {
  content: "";
  position: absolute;
  display: block;
}
#popupmenu ul > li.has-sub::after {
  content: "";
  display: visible;
  position: absolute;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  right: 20px;
  top: 24.5px;
}
#popupmenu ul > li:hover::after,
#popupmenu ul > li.active::after,
#popupmenu ul > li.open::after {
  border-top-color: #ffffff;
}
#popupmenu ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
#popupmenu ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}
#popupmenu ul ul {
  display: none;
}
#popupmenu ul ul li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#popupmenu ul ul li a {
  background: #f1f1f1;
  display: block;
  position: relative;
  font-size: 15px;
  padding: 14px 20px;
  border-bottom: 1px solid #dddddd;
  color: #777777;
  font-weight: 300;
}
#popupmenu ul ul li:first-child > a {
  padding-top: 18px;
}
#popupmenu ul ul li:hover > a,
#popupmenu ul ul li.open > a,
#popupmenu ul ul li.active > a {
  background: #e4e4e4;
  color: #666666;
}
#popupmenu ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
#popupmenu ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
#popupmenu ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}
#popupmenu ul ul > li:hover::after,
#popupmenu ul ul > li.active::after,
#popupmenu ul ul > li.open::after {
  border-top-color: #666666;
}
#popupmenu ul > li > a#version-title {
  background: #81B953;
  color: #FFFFFF;
  font-weight: 600;
}
